.popbody{
	background: url("popback.jpg");
	width: 490px;
	height: 320px;	
}
.popbody div{
	text-align: center;
}
.newtabbody{
	width: 100%;
	height:100%;
	background-image: url("nationalchamps.jpg");
	background-size: 100%;	
}
.newtab {
    color:white;
}
.ero {
    width:100%;
    padding-top:1px;
    text-align:center;
    font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size:25pt;
    font-weight:bold;
    color:white;

}
.ero table {
    margin:auto;
    }
.newQuote {
    padding-left:12px;
    vertical-align:central;
    display:none;
}
#QuoteTD {
    font-size:16pt;
    color:white;
    max-width:68%;
    text-align:center;
}
#QuoteTD span {
        font-size:12pt;
}
#schedulelink {
    font-size:16pt;
    color:white;
}
#schedule {
  height:500px;
  background-color:white;
  z-index:50;
  display:none;
}
.card {
        width: 850px;
        height: 100px;
        margin: 5px;
        /*border: 1px #3c3939 solid; */
      }
      .flip {
        display: inline-block;
      }
      .front, .back {
        padding: 10px;
      }
      .front {
           font-size:16pt;
          color:white;
       
      }
      .back {
        font-size:16pt;
          color:white;
      }


